
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>我的收藏</title>

		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="../css/personal.css" rel="stylesheet" type="text/css">
		<link href="../css/colstyle.css" rel="stylesheet" type="text/css">
		<script src="../js/jquery.js" type="text/javascript"></script>
		<script type="text/javascript">
            $(document).ready(function () {
                sear();
            })
			function fy(pageNo){
                var page= parseInt(  $("#dq").val());
                page=page+pageNo;
                if(page<=1){
                    page=1;
                }else if(page>=c){
                    page=c;
                }
                $("#pagaNo").html(page);
                $("#dq").val(page);
                sear();
			}
			var c ;
            function sear(){
                var html=""
                var param = $("#Form").serializeArray();
                $.post("getUserCollection.json",param,function (date) {
                 c=date.totalPage;
                 $("#totale").html(c);
                    for(var i = 0;i<date.result.length;i++) {
                        var Collection = date.result[i];
                        html += "\t<div class=\"s-item-wrap\">\n" +
                            "\t\t\t\t\t\t\t\t\t<div class=\"s-item\">\n" +
                            "\n" +
                            "\t\t\t\t\t\t\t\t\t\t<div class=\"s-pic\">\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t<a href=\"#\" class=\"s-pic-link\">\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t\t<img src=\"../images/"+Collection.filename+"\" alt=\"4折抢购!十二生肖925银女戒指,时尚开口女戒\" title=\"4折抢购!十二生肖925银女戒指,时尚开口女戒\" class=\"s-pic-img s-guess-item-img\">\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t</a>\n" +
                            "\t\t\t\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t\t\t\t\t<div class=\"s-info\">\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t<div class=\"s-title\"><a href=\"#\" title=\""+Collection.description+"\">"+Collection.name+"</a></div>\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t<div class=\"s-price-box\">\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"s-price\"><em class=\"s-price-sign\">¥</em><em class=\"s-value\">"+Collection.price+"</em></span>\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t<div class=\"s-extra-box\">\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t\t\t\t\t<div class=\"s-tp\">\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t<span class=\"ui-btn-loading-before\">找相似</span>\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t<i class=\"am-icon-shopping-cart\"></i>\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t<span class=\"ui-btn-loading-before buy\">加入购物车</span>\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t<p>\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t\t<a href=\"javascript:;\" class=\"c-nodo J_delFav_btn\">取消收藏</a>\n" +
                            "\t\t\t\t\t\t\t\t\t\t\t</p>\n" +
                            "\t\t\t\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t\t\t\t</div>\n" +
                            "\t\t\t\t\t\t\t\t</div>";
                    }
                    $(".s-content").html(html);
				},"json");

			}
		</script>
	</head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<form id="Form">
						<input type="hidden" name="pageNo" value="1" id="dq">
						<input type="hidden" name="userId" value="1" >
					</form>
					<div class="am-container header">
						<ul class="message-l">
							<div class="topMessage">
								<div class="menu-hd">
									<a href="#" target="_top" class="h">亲，请登录</a>
									<a href="#" target="_top">免费注册</a>
								</div>
							</div>
						</ul>
						<ul class="message-r">
							<div class="topMessage home">
								<div class="menu-hd"><a href="#" target="_top" class="h">商城首页</a></div>
							</div>
							<div class="topMessage my-shangcheng">
								<div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
							</div>
							<div class="topMessage mini-cart">
								<div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
							</div>
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</ul>
						</div>

						<!--悬浮搜索框-->

						<div class="nav white">
							<div class="logoBig">
								<li><img src="../images/logobig.png" /></li>
							</div>

							<div class="search-bar pr">
								<a name="index_none_header_sysc" href="#"></a>
								<form>
									<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
									<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
								</form>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</article>
		</header>
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-collection">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">我的收藏</strong> / <small>My&nbsp;Collection</small></div>
						</div>
						<hr/>

						<div class="you-like">
							<div class="s-bar">
								我的收藏
								<a class="am-badge am-badge-danger am-round">降价</a>
								<a class="am-badge am-badge-danger am-round">下架</a>
							</div>
							<div class="s-content">





							</div>

						<div style="padding-left:450px; "><a ONCLICK="fy(-1)">上一页</a><sapn ID="pagaNo">1</sapn>/<span ID="totale"></span><a ONCLICK="fy(1)">下一页</a></div>

						</div>

					</div>

				</div>
				<!--底部-->
				<div class="footer">
					<div class="footer-hd">
						<p>
							<a href="#">恒望科技</a>
							<b>|</b>
							<a href="#">商城首页</a>
							<b>|</b>
							<a href="#">支付宝</a>
							<b>|</b>
							<a href="#">物流</a>
						</p>
					</div>
					<div class="footer-bd">
						<p>
							<a href="#">关于恒望</a>
							<a href="#">合作伙伴</a>
							<a href="#">联系我们</a>
							<a href="#">网站地图</a>
							<em>© 2015-2025 Hengwang.com 版权所有</em>
						</p>
					</div>
				</div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person">
						<a href="index.html">个人中心</a>
					</li>
					<li class="person">
						<a href="#">个人资料</a>
						<ul>
							<li> <a href="information.html">个人信息</a></li>
							<li> <a href="safety.html">安全设置</a></li>
							<li> <a href="address.html">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul>
							<li><a href="order.html">订单管理</a></li>
							<li> <a href="change.html">退款售后</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的资产</a>
						<ul>
							<li> <a href="coupon.html">优惠券 </a></li>
							<li> <a href="bonus.html">红包</a></li>
							<li> <a href="bill.html">账单明细</a></li>
						</ul>
					</li>

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li class="active"> <a href="collection.html">收藏</a></li>
							<li> <a href="foot.html">足迹</a></li>
							<li> <a href="comment.html">评价</a></li>
							<li> <a href="news.html">消息</a></li>
						</ul>
					</li>

				</ul>

			</aside>
		</div>

	</body>

</html>